<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="comp4020.buchbook">

    <android:
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/rooster" android:theme="@style/AppTheme">
        <activity
            android:name=".buch_book.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".buch_book.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".buch_book.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".buch_book.MainActivity" />
        </activity>
        <activity
            android:name=".buch_book.FriendsLibraryActivity"
            android:label="@string/title_activity_friends_library"
            android:parentActivityName=".buch_book.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".buch_book.MainActivity" />
        </activity>

    </application>

</manifest>
